.index-direito {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 400px);
  background: #fbfbfb;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.logo-chat {
  width: auto;
  height: auto;
  max-width: 42%;
  max-height: 50%;
  user-select: none;
}

.linha {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 400px);
  height: 5px;
  background: #9b42ee;
}
