.confirma-remove-perfil-none {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.confirma-remove-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fundo-confirma-remove-perfil {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}

.caixa-confirma-remove-perfil {
  display: block;
  width: 450px;
  height: 200px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  z-index: 3;
}

.caixa-confirma-remove-perfil-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 5px 5px 0px 0px;
  background: #943ce6;
}

.caixa-confirma-remove-perfil-menu-cancela {
  fill: #000000;
  margin-left: 15px;
  cursor: pointer;
}

.caixa-confirma-remove-perfil-menu span {
  margin-left: 10px;
  margin-top: -1px;
  font-family: arial;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  line-height: 75px;
  user-select: none;
  cursor: text;
}

.caixa-confirma-remove-perfil-aviso {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.caixa-confirma-remove-perfil-aviso span {
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu,
    Cantarell, Fira Sans, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #444444;
  user-select: none;
}

.campo-confirma-remove-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 0px 0px 5px 5px;
  background: #f7f7f7;
}

.botao-confirma-remove-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 0px;
  border-radius: 100px;
  background: #943ce6;
  cursor: pointer;
  outline: none;
}
